<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie Library</title>
    </head>
    <body>
        <header>
            <h1>Movie Library</h1>
        </header>

        <div class="input-box" style="border: 1px solid #ddd;border-radius: 8px;margin: 10px;padding: 10px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);">
            <div class="order" style="margin-top: 10px;">
                <form method="post">
                    {% csrf_token %}
                    <button id="order-btn" name="order-btn" value={{order.value}}>{{order.text}}</button>
                </form>
            </div>
            <div class="filter" style="margin-top: 10px;">

                <form method="get">
                    {% csrf_token %}
                    <label for="filter-input" style="margin-right: 5px;">Filter by:</label>
                    <select id="filter-select" name="select" style="margin-right: 5px;">
                        <option value="name">Name</option>
                        <option value="source">Video source</option>
                    </select>
                    <input type="text" id="filter-input" name="filter_input" placeholder="Enter title or description..." style="margin-right: 5px;">
                    <button id="filter-button">Filter</button>
                </form>
            </div>
        </div>
        <div class="movie-thumbnails" style="display: flex; flex-wrap: wrap; justify-content: flex-start;align-items: center; border: 1px solid #ddd; border-radius: 8px; margin: 10px; padding: 20px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);">
            {% for movie in context %}

            <div class="movie-thumbnail-box" style="width: 300px; border: 1px solid #ddd; border-radius: 8px; margin: 20px; padding: 10px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);">
                <h2 style="margin-top: 10px; font-size: 18px;">{{ movie.name }}</h2>
                <div class="movie-thumbnail">
                    <form method="get">
                    {% csrf_token %}
                        <a href="{% url 'videoplayer' %}?video={{movie.id}}">
                        <img src="{{ movie.iconUri }}" alt="{{ movie.name }}" style="max-width: 100%; height: auto;">
                            </a>
                    </form>
                </div>

                <div class="description" style="margin-top: 10px;">
                    {% if movie.description %}
                        <p>{{ movie.description }}</p>
                    {% else %}
                        <p></p>
                    {% endif %}
                </div>
            </div>

            {% if forloop.counter|divisibleby:5 %}
                <div style="flex-basis: 100%;"></div> {# Start a new row after every 5 items #}
            {% endif %}
            {% endfor %}
        </div>
    </body>
</html>